.site-layout-content {
  background: #fff;
  padding: 24px;
  min-height: 70vh;
}

body{
  background-color: white;
}

.main_content{
  height:80vh;
  margin-top: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

#components-layout-demo-top .logo {
  width: 120px;
  height: 31px;
  /* background: rgba(255, 255, 255, 0.2); */
  margin: 16px 24px 16px 0;
  float: left;
}